# login and channel selection
USERNAME="10x_programmer"
TOKEN="replace-with-your-token"
CHANNEL="10x_programmer"

# comma separated list of users who are allowed to use the bot
ALLOWED="10x_programmer"

# GUI
FONT="Dialog"
