{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}
        aleph/aleph {:mvn/version "0.6.3"}
        manifold/manifold {:mvn/version "0.4.1"}}}
